<section class="forms">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header d-flex align-items-center">
						<h3 class="h4">{{ formSubject }}</h3>
					</div>
					<div class="card-body">
						<h5>
							<p>Basic Details</p>
						</h5>
						<form (ngSubmit)="onSaveTenantData()" [formGroup]="tenantInfoForm">
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label class="form-control-label">Full Name</label>
										<input type="text" placeholder="Full Name" class="form-control" formControlName="tenantFullName"
											[ngClass]="{ 'is-invalid': submitted && f.tenantFullName.errors, 'is-valid': submitted && f.tenantFullName.valid }">
										<div *ngIf="submitted && f.tenantFullName.errors" class="invalid-feedback">
											<div *ngIf="f.tenantFullName.errors.required">Name is required</div>
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label">Mobile Number</label>
										<input type="text" placeholder="Mobile Number" class="form-control"
											formControlName="tenantMobileNumber"
											[ngClass]="{ 'is-invalid': submitted && f.tenantMobileNumber.errors, 'is-valid': submitted && f.tenantMobileNumber.valid }">
										<small class="form-text text-muted">10 digits without country code.</small>
										<div *ngIf="submitted && f.tenantMobileNumber.errors" class="invalid-feedback">
											<div *ngIf="f.tenantMobileNumber.errors.required">Mobile number is required</div>
											<div *ngIf="f.tenantMobileNumber.errors.minlength">Mobile number must be at least 10 digits</div>
											<div *ngIf="f.tenantMobileNumber.errors.maxlength">Mobile number must be at most 10 digits</div>
											<div *ngIf="f.tenantMobileNumber.errors.pattern">Must be a mobile number</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label class="form-control-label">Email</label>
										<input type="email" placeholder="Email Address" class="form-control"
											formControlName="tenantEmailAddress"
											[ngClass]="{ 'is-invalid': submitted && f.tenantEmailAddress.errors, 'is-valid': submitted && f.tenantEmailAddress.valid }">
										<div *ngIf="submitted && f.tenantEmailAddress.errors" class="invalid-feedback">
											<div *ngIf="f.tenantEmailAddress.errors.required">Email is required</div>
											<div *ngIf="f.tenantEmailAddress.errors.email">Must be a valid email address</div>
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label">Identity Number</label>
										<input type="text" placeholder="PAN/AADHAR/Passport" class="form-control"
											formControlName="tenantIdentityNumber"
											[ngClass]="{ 'is-invalid': submitted && f.tenantIdentityNumber.errors, 'is-valid': submitted && f.tenantIdentityNumber.valid }">
										<div *ngIf="submitted && f.tenantIdentityNumber.errors" class="invalid-feedback">
											<div *ngIf="f.tenantIdentityNumber.errors.required">Identity Number is required</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label class="form-control-label">Address</label>
										<input type="text" placeholder="Address" class="form-control" formControlName="tenantAddress"
											[ngClass]="{ 'is-invalid': submitted && f.tenantAddress.errors, 'is-valid': submitted && f.tenantAddress.valid }">
										<div *ngIf="submitted && f.tenantAddress.errors" class="invalid-feedback">
											<div *ngIf="f.tenantAddress.errors.required">Address is required</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<h5>
								<p>Occupation Details</p>
							</h5>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label class="form-control-label">Occupation Status</label>
										<select class="form-control mb-3" formControlName="tenantOccupationStatus"
											[ngClass]="{ 'is-invalid': submitted && f.tenantOccupationStatus.errors, 'is-valid': submitted && f.tenantOccupationStatus.valid }">
											<option value="" selected disabled>--Select--</option>
											<option value="Employee">Employee</option>
											<option value="Self-employed">Self-employed</option>
											<option value="Business Person">Business Person</option>
											<option value="Unemployed">Unemployed</option>
											<option value="Student">Student</option>
											<option value="Retired">Retired</option>
											<option value="Prefer not to disclose">Prefer not to disclose</option>
										</select>
										<div *ngIf="submitted && f.tenantOccupationStatus.errors" class="invalid-feedback">
											<div *ngIf="f.tenantOccupationStatus.errors.required">Occupation Status is required</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label class="form-control-label">Occupation Place</label>
										<input type="text" placeholder="Occupation Place" class="form-control"
											formControlName="tenantOccupationPlace"
											[ngClass]="{ 'is-invalid': submitted && f.tenantOccupationPlace.errors, 'is-valid': submitted && f.tenantOccupationPlace.valid }">
										<div *ngIf="submitted && f.tenantOccupationPlace.errors" class="invalid-feedback">
											<div *ngIf="f.tenantOccupationPlace.errors.required">Occupation Place is required</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<h5>
								<p>Emergency Contact Details</p>
							</h5>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label class="form-control-label">Name</label>
										<input type="text" placeholder="Name" class="form-control"
											formControlName="tenantEmergencyContactName"
											[ngClass]="{ 'is-invalid': submitted && f.tenantEmergencyContactName.errors, 'is-valid': submitted && f.tenantEmergencyContactName.valid }">
										<div *ngIf="submitted && f.tenantEmergencyContactName.errors" class="invalid-feedback">
											<div *ngIf="f.tenantEmergencyContactName.errors.required">Occupation Place is required</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label class="form-control-label">Mobile Number</label>
										<input type="tel" placeholder="Mobile Number" class="form-control"
											formControlName="tenantEmergencyContactMobileNumber"
											[ngClass]="{ 'is-invalid': submitted && f.tenantEmergencyContactMobileNumber.errors, 'is-valid': submitted && f.tenantEmergencyContactMobileNumber.valid }">
										<small class="form-text text-muted">10 digits without country code.</small>
										<div *ngIf="submitted && f.tenantEmergencyContactMobileNumber.errors" class="invalid-feedback">
											<div *ngIf="f.tenantEmergencyContactMobileNumber.errors.minlength">Mobile number must be at least
												10 digits</div>
											<div *ngIf="f.tenantEmergencyContactMobileNumber.errors.maxlength">Mobile number must be at most
												10 digits</div>
											<div *ngIf="f.tenantEmergencyContactMobileNumber.errors.pattern">Must be a mobile number</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-inline justify-content-end">
								<div class="form-group mr-2">
									<button type="submit" class="btn btn-success" [disabled]="buttonDisable">
										{{buttonDisable ? 'Please Wait...' : 'Save'}}</button>
								</div>
								<div class="form-group" *ngIf="action === 'register'">
									<button type="reset" class="btn btn-danger">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>